.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/background.jpg);
  color: white;
  padding: 170px 0px;
  background-size: cover;
  background-position: top;
}
.banner h1 {
  font-size: 40px;
  margin-bottom: 0px;
  text-align: center;
}
.banner h2 {
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-top: 7px;
  text-align: center;
}
